.footer {
  background-color: black;
  color: white;
  font-family: 'Titillium Web', sans-serif;

  width: 100%;
  font-weight: bold;
}

.gradient-text {
  background: -webkit-linear-gradient(45deg, #ff6ec4, #7873f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
