.page-not-exist {
  height: 100vh;
  background-color: black;
  color: white;
  font-family: 'Titillium Web', sans-serif;
}

h1 {
  font-size: 6rem;
  background: -webkit-linear-gradient(45deg, #ff6ec4, #7873f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.redirect-link {
  text-decoration: none;
  background: -webkit-linear-gradient(45deg, #ff6ec4, #7873f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.redirect {
  font-size: 2rem;
}
